name: test
on:
  push:
    branches:
    - "*"
  pull_request:
    branches:
    - main
env:
  GO111MODULE: on
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: 1.19.x
    - uses: actions/checkout@v3
    - name: Log in to ghcr.io
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - run: make test
  test-action:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: airfocusio/git-ops-update/setup@main
    - name: Verify
      run: git-ops-update version
    - uses: airfocusio/git-ops-update/setup@main
      with:
        version: v0.4.0
    - name: Verify
      run: git-ops-update version
